/* .calendar {
    width: 100%;
    background: '#444A57';
} */

.react-calendar {
    width: 100%;
    background: rgba(50, 55, 64, 1);
    color: white;
    font-family: "Pangolin";
    border: 0;
}
/* 
.react-calendar button {
    border-style: solid;
    border-width: 0.1px;
    border-color: #ABABAB;
} */

.react-calendar button :hover {
    border-color: rgb(97, 97, 97);
}

.react-calendar__month-view__days__day {
    color: white;
    font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
    color: #FF4949;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #ABABAB;
}

.react-calendar__navigation button {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.react-calendar__navigation__label {
    font-family: "Pangolin";
}